.data-length {
  position: absolute;
  background: #e86414;
  padding: 0px 5px;
  border-radius: 50%;
  top: -5px;
  right: 2px;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  height: 18px;
}
.items_img img {
  width: 300px;
  height: 300px;
}

.details {
  margin-left: 2rem;
}
.iteamsdetails {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
}
.cart-details-page {
  padding: 2rem;
}
.cart-empty {
  padding: 10px;
  font-size: 20px;
}
.model-cart-section .modal-dialog {
  margin-right: 0px !important;
  transition: unset !important;
  top: 2rem !important;
  left: -2rem !important;
}
.modal-backdrop.fade.show {
  opacity: unset !important;
  cursor: pointer !important;
}
.modal-backdrop {
  --bs-backdrop-bg: unset !important;
  cursor: pointer !important;
  width: unset !important;
  height: unset !important;
}
.cart-details-page h2 {
  font-size: 24px;
}
.model-cart-section {
  cursor: pointer;
}
.main-cart-section img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.main-cart-section h5 {
  font-size: 16px;
  font-weight: 500;
}
.inc-dec-section {
  width: 100px;
  cursor: pointer;
  background: rgb(221, 221, 221);
  color: rgb(17, 17, 17);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.inc-dec-section span {
  font-size: 24px;
}
.cart-empty img {
  width: 50px;
  height: 50px;
}
.delete-section {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.proccess-section {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 4px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-radius: 4px;
}
#load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("http://html.lionode.com/darklook/images/loder.gif") center
    no-repeat #000;
}
.cart-items-number p {
  margin: 0;
  font-size: 16px;
  padding: 4px;
}
.cart-view-data {
  display: flex;
  border-bottom: 1px solid #dee2e6;
}

.payment_header {
  background: rgba(255, 102, 0, 1);
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}

.payment_header .check {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  border: 1px solid #fd6600;
  padding: 20px;
}

.content h1 {
  font-size: 25px;
  padding-top: 25px;
}

.content a {
  width: 200px;
  height: 35px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  background: rgba(255, 102, 0, 1);
  transition: all ease-in-out 0.3s;
}

.content a:hover {
  text-decoration: none;
  background: #000;
}
.content a {
  text-decoration: none;
}
.payment img {
  width: 100%;
  height: 400px;
}
.quantity {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  cursor: pointer;
}
.btn-cart-view {
  display: flex;
  justify-content: space-between;
}
.view-checkout-section .view-cart-btn {
  text-decoration: none;
  border: 1px solid #fd6600;
  color: #fd6600;
  border-radius: 4px;
  margin-right: 5px;
}
.view-checkout-section {
  margin-top: 1rem;
}
.view-checkout-section .view-cart-btn:hover {
  background-color: #fd6600;
  color: #fff;
}
.view-checkout-section .view-cart-checkout {
  text-decoration: none;
  background-color: #fd6600;
  color: #fff;
  border-radius: 4px;
}
.view-checkout-section .view-cart-checkout:hover {
  background-color: #dd620f;
  color: #fff;
}
.add-to-cart-section {
  background-color: #fd6600;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0.3rem;
}
.animsition-link {
  color: #000;
  text-decoration: none;
}
.animsition-link:hover {
  text-decoration: underline;
  color: #dd620f;
}
.hero {
  background-image: url("../img/hero-banner-alt.jpg");
  background-size: cover;
  min-height: 30rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

/* product hover add to cart */
.product img {
  filter: grayscale(40%);
  transition: all 0.3s;
}

.product-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem 0;
  opacity: 0;
  transition: all 0.3s;
}
.add-cart-icons {
  border: 1px solid #000;
  padding: 0.2rem 0.3rem;
  font-size: 0.875rem;
  border-radius: 0;
}
.product-overlay ul li :hover {
  background-color: #000;
  fill: #fff;
}
.product-overlay ul li {
  transition: all 0.3s;
  margin: 2px !important;
  cursor: pointer;
}

.product-overlay ul li:first-of-type {
  opacity: 0;
}

.product-overlay ul li:last-of-type {
  opacity: 0;
}

.product:hover img {
  opacity: 0.3;
  cursor: pointer;
}

.product:hover .product-overlay {
  opacity: 1;
}

.product:hover .product-overlay li {
  opacity: 1;
  transform: none;
}

.product .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
.reset-anchor {
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
}
.breadcrumb-item a {
  text-decoration: none;
}

.badge--sales {
  display: inline-block;
  background-color: green;
  width: auto;
  height: 30px;
}
.badge {
  border-radius: 5px;
  font-size: 1rem;
  position: absolute;
  right: 7rem;
  margin-top: -5rem;
}
.badge--sales::before {
  position: absolute;
  left: -20px;
  top: 3px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid green;
  border-bottom: 20px solid transparent;
}
.badge--sales::after {
  display: block;
  content: "";
  position: absolute;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: -5px;
  top: calc(100% / 2 - 5px);
}
.category-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  /* opacity: 0.5; */
}
.category-item {
  display: block;
  position: relative;
  color: #343a40;
  transition: all 0.3s;
}
.category-item-title {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgb(0 0 0 / 7%);
  font-size: 0.8rem;
}
.category-item img:hover {
  opacity: 0.5;
}
.generate-code {
  position: absolute;
  top: 6px;
  color: #fff;
  background: black;
  border-radius: 25px;
  padding: 4px 8px;
  right: 4px;
  font-size: 10px;
}
.generate-code:hover {
  color: #fff;
  background: #212529;
}
.customer-services a {
  text-decoration: none;
  font-size: 0.85rem;
  position: relative;
  color: #999;
  transition: all 0.3s;
}
.description-list-tab.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #000 !important;
}
.description-list-tab.nav-tabs .nav-link {
  color: #000 !important;
  font-weight: 500;
  border-radius: 0px;
}
.description-list-tab.nav-tabs .nav-link {
  border: unset !important;
}
.description-list-tab.nav-tabs .nav-link:hover {
  border: unset !important;
}
.description-list-tab {
  margin-top: 1rem;
}
.checkout-billing-details .form-control {
  min-height: calc(1.5em + 1.2rem + 2px);
  padding: 0.6rem 1rem;
  font-size: 14px;
  border-radius: 0;
}
.checkout-billing-details .form-label {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.85rem !important;
}
.btn-cart-category {
  display: flex;
}
#js-container {
  width: 200px !important;
  height: 180px !important;
  padding: 6px;
  position: absolute !important;
  top: 8rem;
}
canvas#js-canvas {
  width: 200px !important;
  height: 180px !important;
}
